{% extends "base.html" %}
{% block content %}

<div class="container-fluid">  
    <div class='row'>
        <div class="col-sm-9">
            <table class="table table-sm table-borderless">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Estratégia</th>
                    <th scope="col">Ultimo Sinal</th>
                    <th scope="col">Do Signal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Dolar Rsi</td>
                    <td>05/08/2021 - 11:22:10</td>
                    <td>Nothing</td>
                  </tr>             
                </tbody>
              </table>
        </div>
        <div class="col-sm-3">Noticias</div>
    </div>
    <div class='row'>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">IND</h5>
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col" colspan="2">Dados de hoje:</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Maior Agressor do dia[Compra]</th>
                        <td>Bradesco / 220 mil mini contratos</td>                        
                      </tr>                      
                      <tr>
                        <td colspan="2">Larry the Bird</td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">WIN</h5>
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col" colspan="2">Dados de hoje:</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Maior Agressor do dia[Compra]</th>
                        <td>Bradesco / 220 mil mini contratos</td>                        
                      </tr>                      
                      <tr>
                        <td colspan="2">Larry the Bird</td>                        
                      </tr>
                    </tbody>
                  </table>                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          {% if corretoras %}
          <div class="container">
            <ul>
              {% for corretora in corretoras %}
                <li>{{ corretora.id }}{{ corretora.nome}}</li>
              {% endfor %}
            </ul>
          </div>
          {% else %}
              <p>Sem corretoras cadastradas.</p>
          {% endif %}
      

        </div>
        
    </div>
</div>
{% endblock %}   

